In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Loading the dataset

df = pd.read_csv('cc_approvals.data',header=None)

In [3]:
# Exploring the data

df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [5]:
df.describe()

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [6]:
# Handling the missing values

df = df.replace('?',np.nan)

In [7]:
df.fillna(df.mean(), inplace=True)

C:\Users\Sahil\AppData\Local\Temp\ipykernel_22716\820435583.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

In [8]:
print(df.isnull().values.sum())

67

In [9]:
# Handling the missing values

for i in df:
    if df[i].dtypes == 'object':
        df = df.fillna(df[i].value_counts().index[0])
print(df.isnull().values.sum())

0

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
# Pre processing data part 1

label = LabelEncoder()
for i in df:
    if df[i].dtypes == 'object':
        df[i] = label.fit_transform(df[i])

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
# Spliting the data into train and test sets

df = df.drop([11, 13], axis=1)
df = df.values
X,y = df[:,0:12] , df[:,13]
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
# Pre processing the data part 2

scaler = MinMaxScaler(feature_range=(0,1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
# Fitting logistic regression model to train the sets

log = LogisticRegression()
log.fit(rescaledX_train,y_train)

LogisticRegression()

In [20]:
from sklearn.metrics import confusion_matrix

In [22]:
# Printing the accuracy and confusion matrix

y_pred = log.predict(rescaledX_test)
print("Accuracy of logistic regression classifier: ", log.score(rescaledX_test, y_test))
confusion_matrix(y_test, y_pred)

Accuracy of logistic regression classifier:  0.8377192982456141

array([[93, 10],
       [27, 98]], dtype=int64)